<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        
<div class="body wrapper">
<header class="header" id="header"><nav>
  <a href="#"><div class="logo"></div></a>
  <a href="#"><div class="twitter"></div></a>
</nav>
</header>
<section class="atf" id="atf">
<img src="images/title-community_art_series.png">
<a id="play" class="popup-youtube" href="https://www.youtube.com/watch?v=YdX8ugFTvBQ"><div class="video">
  <img src="images/play-grey.png">
  <div class="text">
    <span>watch the video!</span>
  </div>
</div></a></section>
<div class="info wrapper"><section class="info" id="info">
<div class="text">
  Your photo will be part of two major installations the Saturday and Sunday during <h2>Boston Marathon weekend.</h2> 
</div>
<img src="images/title-photo_mosaic.png"> 
<img src="images/faces.png">
<a href="pictures/new" class="open-popup-link submit">
</a> </section></div>
<div class="locations wrapper"><section class="locations" id="locations"><img src="images/title-locations.png"> 
<a href="#">
  <div class="location">
  <img src="images/location_pru.jpg">
  <span>Prudential Center at Boylston St</span>
</div>
</a>
<a href="#">
  <div class="location">
  <img src="images/location_newbury.jpg">
  <span>Newbury St at Mass Ave</span> 
</div>
</a>
</section></div>
<div class="sponsors wrapper"><section class="sponsors" id="sponsors">
<a href="pictures/new" class="open-popup-link submit"></a>
<div class="text">
  <span>Help us create and unify Boston through one of its largest collaborative art projects in history.</span>
  <span>For sponsorship opportunities contact <h2><a href="mailto:Outreach@EmagCollab.com">Outreach@EmagCollab.com</a></h2></span>
</div></section></div>
</div> 

